html
{
    height:100.01%;
    font-family: 'Electrolize', sans-serif;
    color: #6ABBCF;
}

body
{
    /* Fallback */
    background: url('http://robertsspaceindustries.com/rsi/static/images/gridbg.png') repeat fixed center center;
    
    background: 
        url('../images/gridbg.png') repeat fixed center top, 
        url('../images/noisebg.gif') repeat fixed center top,
        url('../images/Main_BG.jpg') no-repeat fixed center center;
    
    height:100%;
}

.bounds
{
    width:900px;
    margin-left:auto;
    margin-right:auto;
    height:100%;
}

a
{
    color:white;
}

.panel
{
    padding: 40px 15px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
}

.sig_generator_form_bounds
{
    border:1px solid black;
    border-radius: 20px;
    padding:20px;
}

.sig_generator_output img
{
    width:100%;
}

p
{
    margin-bottom:35px;
    text-align:left;
}

.logo
{
    width:200px;
    float:left;
    margin-right:30px;
}

h1.page-title 
{
    font-size: 24px;
    color: #00E7FF;
    font-weight: normal;
    font-family: 'Electrolize', sans-serif;
    text-transform: uppercase;
    height: 56px;
    line-height: 60px;
    padding-left: 63px;
    border-top: 1px solid #00E7FF;
    border-bottom: 1px solid #1681A5;
    position: relative;
    text-shadow: 0px 0px 20px #09F;
    background: url('http://robertsspaceindustries.com/rsi/static/images/page_title_lines.png') repeat scroll 0% 0% transparent;
    margin-bottom:0px;
}

h1.page-title .top-line 
{
    background-color: #009DFF;
    position: absolute;
    top: -14px;
    left: 0px;
    width: 100%;
    height: 8px;
    display: block;
    opacity: 0.15;
}

h1.page-title .inner-line 
{
    background-color: #00DEFF;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 2px;
    display: block;
}

h1.page-title .icon 
{
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 5px;
    top: 3px;
    background: url('http://robertsspaceindustries.com/rsi/static/images/modal_title_icon.png') repeat scroll 0% 0% transparent;
}

h1.page-title .bottom-line 
{
    background-color: #1681A5;
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 1px;
    height: 4px;
    display: block;
}

.content
{
    background: url('http://robertsspaceindustries.com/rsi/static/images/gridbg.png') repeat scroll center top transparent;
    height:100%;
}

.content-block
{
    position:relative;
    width:97%;
    margin-bottom: 20px;
    padding: 10px 10px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.2);    
    border: 1px solid rgba(0, 162, 253, 0.15);
}

.corner
{
    position: absolute;
    background: url('http://robertsspaceindustries.com/rsi/static/images/common/minor-border-corner.png') repeat scroll 0% 0% transparent;
    width: 8px;
    height: 8px;
    display: block;
}

.content-block
.corner-top-left
{
    top: -1px;
    left: -1px;
    background-position: 0px 0px;
}

.content-block
.corner-top-right
{
    top: -1px;
    right: -1px;
    background-position: -2px 0px;
}

.content-block
.corner-bottom-left
{
    bottom: -1px;
    left: -1px;
    background-position: 0px -2px;
}

.content-block
.corner-bottom-right
{
    bottom: -1px;
    right: -1px;
    background-position: -2px -2px;
}

button, input, select, textarea 
{
    color: #222;
}

button, input {
    line-height: normal;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0px;
    vertical-align: baseline;
}

button
{
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(22, 42, 63, 0.8);
    font-size: 18px;
    color: #355E78; 
    padding: 10px 15px;
}

select 
{
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(22, 42, 63, 0.8);
    font-size: 12px;
    color: #355E78;
    width: 40%;
    padding: 10px 15px;
    padding-right:2px;
    box-sizing: border-box;
    transition: all 0.2s ease 0s !important;
}

input[type="text"], input[type="password"]
{
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(22, 42, 63, 0.9);
    font-size: 14px;
    color: #557E98;
    width: 40%;
    padding: 10px 15px;
    margin-bottom: 3px;
    box-sizing: border-box;
    transition: all 0.2s ease 0s !important;
    text-align: center;
}

input 
{
    outline: medium none;
}

.abs-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
}

.holobtn 
{
    width: 261px;
    height: 54px;
    display: block;
    position: relative;
}

.holobtn-top {
    background: url('http://robertsspaceindustries.com/rsi/static/images/iconsprite.png') no-repeat scroll -236px 0px transparent;
    width: 261px;
    height: 44px;
    z-index: 2;
    font-family: 'Electrolize',Arial,Helvetica,sans-serif;
    font-size:110%;
    font-weight:bold;
    color: #00F7FF;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

.holobtn-bottom {
    background: url('http://robertsspaceindustries.com/rsi/static/images/iconsprite.png') no-repeat scroll -236px -54px transparent;
    width: 261px;
    height: 39px;
    z-index: 1;
    left: 5px;
    top: 8px;
}

.trans-02s {
    transition-duration: 0.2s;
}

.holobtn:hover > .holobtn-top {
    transform: translate(16px, 0px);
    transition-delay: 0.2s;
    color: #FFF;
}

.holobtn:hover>.holobtn-top
{
    -webkit-transform:translate(16px,0);
    -moz-transform:translate(16px,0);
    -ms-transform:translate(16px,0);
    -o-transform:translate(16px,0);
    transform:translate(16px,0);
    -webkit-transition-delay:0.2s;
    -moz-transition-delay:0.2s;
    -ms-transition-delay:0.2s;
    -o-transition-delay:0.2s;
    transition-delay:0.2s;
    color:white
}

.holobtn:hover>.holobtn-bottom
{
    -webkit-transform:translate(11px,-8px);
    -moz-transform:translate(11px,-8px);
    -ms-transform:translate(11px,-8px);
    -o-transform:translate(11px,-8px);
    transform:translate(11px,-8px)
}

.holobtn.with-connector:hover
{
    -webkit-transform:translate(-32px,0);
    -moz-transform:translate(-32px,0);
    -ms-transform:translate(-32px,0);
    -o-transform:translate(-32px,0);
    transform:translate(-32px,0);
    -webkit-transition-delay:0.4s;
    -moz-transition-delay:0.4s;
    -ms-transition-delay:0.4s;
    -o-transition-delay:0.4s;
    transition-delay:0.4s;
    -webkit-transition-duration:0.4s;
    -moz-transition-duration:0.4s;
    -mst-transition-duration:0.4s;
    -o-transition-duration:0.4s;
    transition-duration:0.4s
}

.circle {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

.circle1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}